/*
 * Css usado para agregar estilos a mi CV
 *
 */

.flex-container {
    width: 1000px;
    height: 1000px;
    background: #42b3f4;
    margin: auto;
    display: flex;
}

.flex-item {
    width: 400px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.flex-item:nth-child(2) {
    width: 600px;
    height: 1000px;
    background: #f2f2f2;
}

.flex-item-2 {
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-item-2:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-items: center;
}

.texto {
    text-align: center;
    color: white;
    font-family: hack;
}
