/*
 * Css usado para agregar estilos a mi CV
 *
 */

.flex-container {
    width: 1000px;
    height: 1000px;
    background: #42b3f4;
    margin: auto;
}

.flex-item {
    width: 400px;
    height: 1000px;
}

.flex-item-2 {
    width: 400px;
    height: 250px;
}

.perfil {
    width: 200px;
    height: 200px
    border-radius: 50%;
    align-items: center;
}

.texto {
    text-align: center;
}
